/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
@font-face{
    font-family:'FontAwesome';
    src:url("../fonts/fontawesome-webfont.eot?v=4.3.0");
    src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
    format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.3.0")
    format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.3.0")
    format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.3.0")
    format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
    format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family: 'Roboto';
    src:url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto-light';
    src:url("../fonts/roboto/Roboto-Light.ttf");
}
*{
    font-family: 'Roboto', sens-serif;
}
.page-content.page-cms{
    padding: 0;
}
button:focus{
    outline: none;
}
/* klasa dodana do rozwijania banerow */
.full{
    height: 100% !important;
    transition: .5s;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.orange{
    color: #E87601 !important;
}
.green{
    color: #51B958;
}
.red{
    color: #EB4B4B !important;
}
.font600{
    font-weight: 600;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.light-gray{
    color: #BBB;
}
.orange_line{
    background-color: #E87601;
}
.potega{
    vertical-align: super;
}
.grey{
    color: #8D8D8D !important;
}
.grey_line{
    border-top: 1px solid #BBB !important;
}
.font16{
    font-size: 16px;
}
.text-center{
    text-align: center;
}
.done{
    color: #E87601;
}
body#checkout a:hover{
    color: #7a7a7a;
}
.bx-wrapper .bx-controls-direction a{
    text-indent: 0 !important;
    width: 29px;
    height: 29px;
    margin-top: 0;
    top: 78px;
}
.bx-wrapper .bx-next, .bx-wrapper .bx-prev{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bx-wrapper .bx-next{
    background: url("../img/kalkulator_next.svg");
}
.bx-wrapper .bx-prev{
    background: url("../img/kalkulator_prev.svg");
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
    background-position: center center;
}
.blockcart .product-numbers{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #E87601;
    color: #FFF;
    line-height: 24px;
    top: -20px;
    right: -12px;
    z-index: 100;
}
form .js-country{
    display: none !important;
}
.btn-primary, .btn-secondary, .btn-tertiary{
    box-shadow: none;
    font-weight: 400;
    text-transform: none;
}
#header .header-nav .search-widget, .mobile-search .search-widget{
    width: 100%;
    max-width: 618px;
}
.mobile-search{
    padding-bottom: 10px;
    background-color: #FFF;
    display: none;
}
#checkout #search_widget{
    display: block;
}
.search-widget form input[type="text"]{
    border: none;
    border-bottom: 1px solid #BBBBBB;
    width: 100%;
    max-width: 618px;
}
.search-widget form input[type="text"]:focus {
    outline: none !important;
    border-bottom: 1px solid #E87601;
}
.search-widget form input[type=text]:focus+button .search{
    color:#E87601;
}
.search-widget form input[type="text"]:hover{
    color:#E87601;
}
.search-icon{
    width: 36px;
    height: 36px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px !important;
}
.margin-top-30{
    margin-top: 30px;
}
.block-contact{
    color: #FFF;
}
#contact .card{
    box-shadow: none;
    border: none;
}
.block-contact a{
    color: #FFF;
    transition: .5s;
}
.block-contact a:hover{
    color: #E87601;
}
#header .header-nav .blockcart{
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
}
body#checkout #header .header-nav{

}
#header .header-nav .blockcart, #header .header-nav .cart-preview.active{
    background-color: transparent;
}
#_desktop_cart .cart{
    width: 43px;
    height: auto;
}
#_desktop_user_info .login{
    width: 40px;
    height: auto;
    fill: currentColor;
    color: #E87601;
}
#header .header-nav .user-info{
    margin-top: 0;
    margin-left: 32px;
}
#header .header-nav .user-info a, .blockcart a{
    display: block;
    overflow: hidden;
}
#header .header-nav .user-info a img{
    padding-bottom: 4px;
}
#header .header-nav .user-info a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: background-color .3s ease;
}
#header .header-nav .user-info a:hover:after {
    width: 100%;
    background-color: #757575;
}
.blockcart:after{
    content: '';
    display: block;
    margin: 4px auto 0 auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: background-color .3s ease;
}
.blockcart:hover:after{
    width: 100%;
    background-color: #E87601;
}
#header .header-nav .search-widget {
    margin-top: 2.5rem;
}
#header .header-nav .right-nav{
    margin-top: 27px;
}
#_desktop_user_info .login:hover {
    color: #E87601;
}
address, dl, ol, ul{
    margin-bottom: 0;
}
#header .header-top{
    padding-bottom: 0;
    border-bottom: 1px solid #BBB;
}
#banners{
    background-color: #ECEFF1;
    padding: 20px 0 0 0;
    border-bottom: 1px solid #E87601;
    /*display: block;*/
    /*position: relative;*/
    margin-bottom: 10px;
}
#wrapper{
    background-color: #FFF;
}
/* MAIN MENU */
#header .header-top .menu {
    margin: 0;
    padding: 0;
}
.top-menu a[data-depth="0"] {
    font-size: 18px;
    font-weight: normal;
}
.header-contact .email{
    width: 45px;
    margin-right: 34px;
}
.header-contact .phone{
    width: 45px;
    margin-right: 38px;
}
.header-contact img{
    height: auto;
}
#top-menu li:first-child{
    border-right: 1px solid #BBB;
}
#top-menu li:first-child a{
    color: #E87601;
}
#top-menu .dropdown-toggle::after{
    content: "expand_more";
    font-family: "Material Icons";
    border: none;
    height: auto;
    width: auto;
    font-size: 28px;
}
#header .header-top a[data-depth="0"]{
     color: #757575;
     text-transform: none;
     padding: 13px 15px;
 }
#header .header-top a[data-depth="0"]:hover{
    color: #E87601;
}

#category-2 > a{
    color: #E87601;
}

.top-menu a.dropdown-submenu{
    font-weight: normal;
}
/* koniec main menu*/
/* SUBMENU */
#top-menu .sub-menu li:first-child{
    border-right: 0;
}
.top-menu[data-depth="1"] {
    margin: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: rgb(252, 252, 252);
    padding: 10px 0;
}
.top-menu .current a{
    color: #E87601 !important;
}
.top-menu .sub-menu{
    width: 200%;
}
.top-menu .sub-menu ul[data-depth="1"]{
    transition: 300ms;
}
.top-menu .sub-menu ul[data-depth="1"] > li{
    float: none;
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
}
#top-menu .sub-menu ul[data-depth="1"] > li > a{
    color: #E87601;
    font-size: 18px;
    text-transform: none;
    position: relative;
    padding: 0;
    transition: 300ms;
}
.top-menu .sub-menu ul[data-depth="1"] > li:hover{
    border-left: 2px solid #E87601;
    padding-left: 18px;
}
.top-menu .sub-menu ul[data-depth="1"] > li > a:hover{
    color: #757575;
}
.top-menu .sub-menu ul[data-depth="1"] > li:hover ul[data-depth="2"]{
    visibility: visible;
    opacity: 1;
}
.top-menu .sub-menu ul[data-depth="2"]{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    background-color: #FCFCFC;
    padding: 20px;
    transition:200ms;
    margin-top: -20px;
}

#header .top-menu .sub-menu ul[data-depth="2"] > li > a{
    color: #757575;
    font-size: 18px;
    text-transform: none;
    transition: 300ms;
}
#header .top-menu .sub-menu ul[data-depth="2"] > li > a:hover{
    color: #E87601;
}
.top-menu .sub-menu{
    max-width: 225px;
    box-shadow: none;
    margin-left: 0;
}
/* koniec submenu */
#header .fast-contact a, #header .fast-contact p{
    font-size: 18px;
    color: #757575;
    margin-top: 13px;
    margin-bottom: 0;
    margin-left: 30px;
    float: right;
    transition: 300ms;
}
#header .fast-contact a:hover{
    color: #E87601;
}
.logo, body#checkout #header .header-nav .logo{
    max-width: 240px !important;
    height: auto;
    width: 100%;
    max-height: 100%;
}
#header .header-nav, body#checkout #header .header-nav{
    max-height: 100%;
    border-bottom: 1px solid #BBB;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 0;
    box-shadow: none;
}
form:focus{
    border: none;
}
#wrapper{
    box-shadow: none;
}
/* blok z banerami */
#retro-banners .baner{
    width: calc(50% - 10px);
    display: inline-block;
}
#retro-banners .big-baner{
    width: 100%;
    height: auto;
}
#retro-banners .big-baner figure{
    margin: 0;
}
#retro-banners .some-another-menu{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: auto;
    background-color: #FFF;
}
#retro-banners .some-another-menu::-webkit-scrollbar{
    display: none;
}
#retro-banners .some-another-menu ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 22px;
}
#retro-banners .some-another-menu ul li{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
#retro-banners .some-another-menu ul li a{
    color: #757575;
    font-size: 18px;
    white-space: nowrap;
    transition: 400ms;
}
#retro-banners .some-another-menu ul li a:hover{
    color: #E87601;
}
.show-more p{
    margin: 0;
    color: #E87601;
    font-size: 16px;
}
#retro-banners .baner:nth-child(3), #retro-banners .baner:nth-child(5) {
    margin-right: 16px;
}
#aditional-banners .baner:nth-child(1){
    margin-right: 16px;
}
#retro-banners .baner img{
    width: 100%;
    height: auto;
}
#promocje{
    margin: 5px auto 0 auto;
    width: 220px;
    display: block;
    cursor: pointer;
}
#promocje p{
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}
#promocje p, #promocje i{
    color: #E87601;
}
.fa-chevron-down{
    font-family: FontAwesome;
    content: '\f077'
}
/* tekst nad produktami na stronie glownej */
#custom-text{
    padding: 0;
    border-bottom: 1px solid #E87601;
}
#custom-text h3{
    font-size: 24px;
    color: #757575;
    font-weight: normal;
    text-align: left;
    padding: 10px 0;
    text-transform: none;
}
#custom-text p{
    padding: 10px 0;
    color: #757575;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    margin: 0;
}
#header .show-more{
    text-transform: uppercase;
}
.show-more{
    background-color: transparent;
    border: 0;
    color: #E87601;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}
.page-home .products, #order-confirmation .products{
    margin-left: -10px;
    margin-right: -10px;
}
#blockcart-modal .product-name{
    color: #E87601;
}
#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping{
    color: #757575;
    font-weight: 400;
}
.featured-products h1{
    color: #757575;
    font-weight: 500;
}
.thumbnail-container .price{
    font-size: 24px;
}
.thumbnail-container .regular-price{
    font-size: 18px;
}
.product-price-and-shipping{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Checkout */
body#checkout section.checkout-step{
    box-shadow: none;
}
/* Blok realizujemy */
.realization{
    padding-top: 10px;
}
.realization h3{
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    color: #757575;
    text-transform: uppercase;
}
.realization .number{
    padding: 10px 0;
    border-bottom: 1px solid #E87601;
}
.realization .number p{
    font-size: 24px;
    color: #757575;
    text-align: center;
}
.realization .title{
    font-size: 18px;
    color: #757575;
    text-align: center;
    text-transform: uppercase;
    padding-top: 13px;
}
.realization .text{
    display: block;
    margin: 24px auto;
    text-align: center;
    font-size: 16px;
}
.realization .image img{
    display: block;
    position: relative;
    margin: 0 auto;
}
#products .product-title, .featured-products .product-title, .product-accessories .product-title, .product-miniature .product-title{
    margin-top: 9px;
    text-transform: none;
}
#products .product-title a, .featured-products .product-title a, .product-accessories .product-title a, .product-miniature .product-title a{
    font-size: 19px;
    line-height: 24px;
}
#products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container{
    width: 270px;
    box-shadow: none;
    margin-bottom: 40px;
    height: 290px;
}
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description{
    height: auto;
}
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description{
    width: 100%;
}
#products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature{
    /* TODO siatka produktow z ustawionymi marginesami*/
}
.go-to-product{
    display: block;
    width: 100%;
    border: 1px solid #707070;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #757575;
    border-radius: 0 5px 5px 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: linear;
}
.product-description:hover{
    color: #E87601;
    border-top: none;
}
.thumbnail-container .product-description a, .thumbnail-container .product-price-and-shipping, .thumbnail-container .regular-price{
    transition: linear 200ms;
}
.thumbnail-container .product-thumbnail img{
    transition: linear 200ms;
}
.thumbnail-container:hover .product-description a, .thumbnail-container:hover .product-price-and-shipping, .thumbnail-container:hover .regular-price{
    color: #E87601;
}
.thumbnail-container:hover .go-to-product{
    border-color: #E87601;
}
.thumbnail-container .product-thumbnail{
    background-color: rgba(0,0,0,0.8);
    background-image: url("../img/product_hover.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px auto;
}
.product-thumbnail img{
    margin: 0;
}
.image-underproduct{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 1140px;
}
.thumbnail-container:hover .product-thumbnail img{
    opacity: 0.4;
}
/* Podstrona kalkulator */
#kalkulator-plytek img{
    display: block;
}
#content h1{
    font-weight: 400;
    font-size: 24px;
    color: #757575;
    text-align: center;
    text-transform: uppercase;
}
.cart-content-btn{
    width: 100%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.cart-content-btn .btn-secondary{
    background-color: #E87601;
    color: white;
    float: left;
}
.cart-content-btn .btn-primary{
    float: right;
}
.cart-content-btn .btn-secondary,
.cart-content-btn .btn-primary{
    border-radius: 0 5px 5px 5px;
    width: 220px !important;
    padding: 8px 20px;
    height: 44px;
}
#kalkulator-plytek h1{
    color: #757575;
}
#kalkulator-plytek h3{
    color: #E87601;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}
#kalkulator-plytek p{
    font-size: 18px;
}
#kalkulator-plytek .thrash{
    background: url("../img/garbage.svg") no-repeat;
    width: 22px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#kalkulator-plytek .dane{
    max-width: 364px;
    width: 90%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#sciany{
    width: 100%;
}
#sciany .wall{
    width: 100%;
    font-size: 22px;
    line-height: 27px;
    color: #757575;
    background-color: #ECEFF1;
    border-radius: 0 5px 5px 5px;
    padding: 9px 10px;
    position: relative;
}
#sciany label, .waste label{
    width: 100%;
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 12px;
}
#sciany input{
    color: #E87601;
    width: 100%;
    border: 1px solid #BBBBBB;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    border-radius: 0 5px 5px 5px;
    margin-bottom: 12px;
    position: relative;
}
#sciany input:after{
    content: "m2";
}
#sciany .row{
    margin: 0;
}
.narozniki_style input, .waste input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#kalkulator-plytek .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 46px;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #BBBBBB;
    background-color: #FFF;
}
#kalkulator-plytek .narozniki_style, #kalkulator-plytek .waste{
    display :block;
    position: relative;
    cursor: pointer;
    height: 46px;
    margin-bottom: 20px;
}
#kalkulator-plytek .narozniki_style label, #kalkulator-plytek .waste label{
    margin: 0;
    padding: 0 0 0 56px;
    line-height: 46px;
    text-align: left;
    text-transform: lowercase;
}
#kalkulator-plytek .dodaj_sciane{
    background-color: #E87703;
    border-radius: 0 5px 5px 5px;
    width: 100%;
    background-image: url("../img/dodaj_sciane.svg");
    background-repeat: no-repeat;
    background-position: 96% center;
    border: 0;
    color: #FFF;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    font-size: 16px;
    background-size: 22px 22px;
    transition: 400ms;
}
#kalkulator-plytek .dodaj_sciane:hover{
    background-color: #f98c1c;
}
#kalkulator-plytek .oblicz{
    border-radius: 0 5px 5px 5px;
    background-color: #51B958;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 22px 29px;
    border: 0;
    width: 90%;
    max-width: 364px;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: 400ms;

}
#kalkulator-plytek .oblicz:hover{
    cursor: pointer;
    background-color: #5cd664;
}
#kalkulator-plytek h2{
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    color: #757575;
    margin-top: 26px;
}
#podsumowanie {
    max-width: 748px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
#podsumowanie h3{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
#podsumowanie p{
    text-align: center;
}
#podsumowanie img{
    display: block;
    position: relative;
    margin: 20px auto;
}
#do_gory{
    width: 200px;
    display: block;
    position: relative;
    margin: 10px auto;
    color: #E87601;
    text-align: center;
    cursor: pointer;
}
#do_gory p{
    text-transform: uppercase;
    font-size: 16px;
    color: #E87601;
    margin-bottom: 5px;
}
#kalkulator-plytek .bx-wrapper{
    box-shadow: none;
    border: 0;
}
#kalkulator-plytek .bxslider p{
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
    line-height: 24px;
    color: #757575;
}
#kalkulator-plytek .bxslider button{
    border-radius: 0 5px 5px 5px;
    width: 100%;
    border: 1px solid #707070;
    background-color: #FFF;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #707070;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 200ms;
}
#kalkulator-plytek .bxslider button:hover, #kalkulator-plytek .bxslider button .active{
    color: #E87601;
    border-color: #E87601;
    cursor: pointer;
}
#kalkulator-plytek .bxslider .chaosen{
    color: #E87601;
    border-color:#E87601;
}
#_desktop_cart .shopping-cart{
    background-image: url('../img/cart.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}
#header .header-nav .blockcart:hover .body{
    display: block !important;
}
#header .header-nav .body{
    position: absolute;
    background-color: #FFF;
    z-index: 9999;
    padding: 11px 13px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.16);
    width: 346px;
    right: -72px;
    top: 54px;
    transition: 400ms;
}
#header .header-nav .shoppingcart_img{
    width: 142px;
    display: table-cell;
}
#header .header-nav .shoppingcart_img img{
    width: 100%;
    height: auto;
}
#header .header-nav .shopingcart_right{
    width: calc(100% - 152px);
    position: relative;
    padding-left: 10px;
    display: table-cell;
    vertical-align: top;
}
#header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i{
    color: #707070;
}
#header .header-nav .remove-from-cart{
    border: 1px solid #707070;
    line-height: 22px;
    text-align: center;
    width: calc(100% - 10px);
    font-size: 14px;
    color: #707070;
    text-transform: lowercase;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 300ms;
}
#header .header-nav .remove-from-cart:hover{
    color: #E87601;
    border-color: #E87601;
}
#header .header-nav .cart-preview.active a:hover{
    color: #E87601;
}
#header .header-nav .shopingcart_right .product-name{
    white-space: normal;
    font-size: 16px;
    color: #757575;
    text-align: left;
    display: block;
}
#header .header-nav .cart-wishlist-item{
    clear: both;
    display: table;
    margin-bottom: 17px;
}
#header .header-nav .product-price{
    display: block;
    color: #E87601;
    position: absolute;
    bottom: 30px;
}
#header .header-nav .cart-total .label{
    float: left;
    font-size: 18px;
    color: #757575;
    text-transform: capitalize;
}
#header .header-nav .cart-total .value{
    float: right;
    font-size: 18px;
    color: #757575;
}
#header .header-nav .cart-wishlist-checkout{
    line-height: 22px;
    background-color: #E87601;
    width: 100%;
    color: #fff !important;
    text-transform: lowercase;
    transition: 300ms;
    margin-top: 15px;
}
#header .header-nav .cart-wishlist-checkout:hover{
    background-color: #757575;
}
#kalkulator-plytek .to_product{
    border-radius: 0 5px 5px 5px;
    background-color: #949393;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    display: block;
    margin-top: 10px;
    transition: 400ms;
}
#kalkulator-plytek .to_product:hover{
    background-color: #afafaf;
}
#ilosc_naroznikow, #ilosc_lica, #ilosc_impregnat, #ilosc_klej, #ilosc_fuga, #ilosc_grunt{
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px;
    text-align: center;
    color: #51B958;
    font-size: 26px;
}
/*.container:hover input ~ .checkmark {*/
    /*background-color: #ccc;*/
/*}*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 18px;
    top: 9px;
    width: 11px;
    height: 22px;
    border: solid #E87601;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Podstrona kategorii */
.category-name h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    color: #757575;
    text-align: center;
    margin-bottom: 15px;
}
#products img, .featured-products img, .product-accessories img, .product-miniature img{
    margin-left: 0;
}
#products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature{
    margin: 10px;
}
.products-row{
    margin-left: -10px;
    margin-right: -10px;
}
#js-product-list-top .label{
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-bottom: 8px;
}
#js-product-list-top .btn-retro{
    border-radius: 0 5px 5px 5px;
    border: 1px solid #BBBBBB;
    background-color: #FFF;
    box-shadow: none;
    color: #E87601;
    transition: 200ms;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
}
#js-product-list-top .btn-retro img{
    width: auto;
    position: absolute;
    right: 10px;
    top: 50%;

}
#js-product-list-top .fajka img{
    margin-top: -8px;
    height: 15px;
}
#js-product-list-top .dostawa img{
    height: 30px;
    margin-top: -15px;
}
#js-product-list-top .total-price img{
    height: 27px;
    margin-top: -13px;
}
.products-sort-order .select-title{
    padding-top: 8px;
    padding-bottom: 8px;
}
#js-product-list-top .btn-retro:hover{
    color: #757575;
    border-color: #E87601;
}
.products-sort-order .select-title{
    border-radius: 0 5px 5px 5px;
    border: 1px solid #BBBBBB;
    background-color: #FFF;
    box-shadow: none;
    color: #E87601;
    transition: 200ms;
}
.products-sort-order .select-title:hover{
    border-color: #E87601;
    color: #757575;
}
.products-sort-order .select-list:hover{
    background: #E87601;
}
.subcategory-content{
    height: 33px;
    overflow-x: auto;
    display: block;
    position: relative;
    margin-bottom: 26px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}
.subcategory-content ul{
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    max-height: 29px;
}
.subcategory-content ul li a{
    font-size: 16px;
    color: #757575;
    transition: 300ms;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}
.subcategory-content ul li a:hover{
    color: #E87601;
}
.subcategory-content .active{
    color: #E87601 !important;
}
/* FOOTER */
footer{
    background-color: #2B2B2B;
}
footer{
    background-color: transparent;
}
#footer, body#checkout #footer{
    padding: 0;
    box-shadow: none;
}
.footer-container li{
    margin-bottom: 14px;
    line-height: 28px;
}
.cookie-info p{
    text-align: left;
    font-size: 14px;
}
.cookie-info a{
    color: #757575;
    transition: 300ms;
}
.cookie-info a:hover{
    color: #E87601;
}
.to_products{
    border: 1px solid #757575;
    margin: 20px auto 35px auto;
    display: block;
    position: relative;
    font-size: 24px;
    color: #757575;
    padding: 6px 34px;
    max-width: 300px;
    box-sizing: border-box;
    transition:.3s;
    background-color: #FFF;
    width: 90%;
    border-radius: 0 5px 5px 5px;
}
.to_products:hover {
    border-color: #FF8D19;
    color: #FF8D19;
}
#gwarancja{
    width: 100%;
    padding: 0;
    border: 0;
}
#delivery_main{
    background-image: url("../img/dostawa_main.png");
    background-position: center right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #E87601;
    height: 560px;
    position: relative;
}
#delivery_main .text-box{
    text-align: left;
    margin: 20px 0;
    float: left;
    clear: left;
}
#delivery_main .text-box h3{
    font-weight: normal;
    color: #E87601;
    font-size: 37px;
}
#delivery_main .tel{
    font-size: 38px;
}
#delivery_main .text-box a{
    color: #757575;
    transition:.3s;
}
#delivery_main .container .text-box:first-child{
    margin-top: 40px;
}

#delivery_main .text-box p{
    font-size: 24px;
    line-height: 26px;
}
#delivery_main .text-box a:hover{
    color: #E87601;
}
#delivery_main .text-box a:hover .orange{
    color: #757575;
}
#delivery_main .text-box .page-address{
    font-size: 22px;
}
#klauzula p{
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
}
.footer-container{
    box-shadow: none;
    margin-top: 0;
    padding-bottom: 30px;
}
#product-modal .modal-content .modal-body .image-caption{
    display: none;
}
.block-contact{
    border-left: none;
    padding-left: 15px;
    line-height: 35px;
}
.block-categories{
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
}
.block-categories .category-sub-menu li[data-depth="0"] > a{
    font-weight: 400;
    border-bottom: none;
    margin: 0;
    padding: 0;
}
.footer-container{
    background-color: #33334C;
}
.footer-container li a, .footer-container .block-categories li a{
    font-size: 16px;
    color: #FFF;
    transition: .3s;
    line-height: 28px;
    display: block !important;
    padding-left: 22px !important;
}
.footer-container li a:before, .footer-container .block-categories li a:before{
    mask-image: url("../img/strzalka.svg");
    -webkit-mask-image: url("../img/strzalka.svg");
    content: " ";
    width: 28px;
    height: 28px;
    position: absolute;
    transition: .3s;
    background-color: white;
    left: 7px;
}
#product-menu li a:before, #product-menu.block-categories li a:before{
    mask-image: none !important;
    -webkit-mask-image: none !important;
    display: none;
    width: 0;
    height: 0;
}
#product-menu .footer-container li a:hover:before{
    background-color: transparent !important;
}
#product-menu .collapse{
    display: block !important;
}
.footer-container li a:hover{
    color: #E87601;
}
.footer-container li a:hover:before{
    background-color: #E87601;
}
.footer-container .block-categories li a:before{
    left: -8px;
}
.footer-container .show-more-content{
    margin-left: -15px;
    margin-right: -15px;
}
.footer-container .show-more{
    text-transform: uppercase;
}
footer hr{
    border-top-color: #E97E10;
}
footer .social-icon img{
    width: 35px;
    height: auto;
}
footer .material-icons{

}
.footer-container h3, #block_myaccount_infos .myaccount-title a, .block-contact .block-contact-title, .linklist .blockcms-title a{
    font-weight: normal;
    font-size: 16px;
    color: #E87601;
    margin: 20px 0;
    text-transform: none;
}
.after-footer{
    padding-bottom: 32px;
}
.after-footer p{
    font-size: 14px;
    color: #8D8D8D;
    margin-bottom: 0;
}
.after-footer a{
    font-size: 14px;
    color: #E87601;
}
.after-footer .social{
    text-align: center;
}
.social .social-icon{
    margin: 0 10px;
}
footer .social{
    text-align: center;
}
.after-footer .social-icon img{
    transition: 300ms;;
}
.after-footer .social-icon img:hover{
    opacity: 0.66;
}
.footer-logo{
    width: 103px;
    height: auto;
    float: right;
}
/* podstrona dostawa */
#dostawa{
    color: #757575;
}
#dostawa h1, #montaz h1, #kalkulator-plytek h1{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 32px;
}
#dostawa h2{
    font-weight: normal;
    color: #E87601;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#dostawa p{
    font-size: 18px;
    line-height: 24px;
}
#dostawa img{
    display: block;
}
#dostawa .fontbb{
    font-size: 16px;
}
#dostawa .light-grey{
    color: #BBB;
}
#delivery-promotion p{
    margin-bottom: 8px;
}
#dostawa .annotation{
    padding-top: 7px;
    border-top: 1px solid #BBBBBB;
    width: 100%;
}
#dostawa .annotation p{
    font-size: 12px;
    line-height: 14px;
    color: #BBB;
}
#dostawa .block{
    display: block;
    position: relative;
}
#dostawa .block p{
    font-size: 14px;
    line-height: 32px;
    color: #757575;
}
#dostawa .block .border{
    border-radius: 0 5px 5px 5px;
    color: #FFF !important;
    line-height: 22px;
    font-size: 18px;
    padding:5px 0 5px 10px;
    position: absolute;
    left: 70px;
}
#dostawa .width1{width: 236px;}
#dostawa .width2{width: 200px;}
#dostawa .width3{width: 130px;}
#dostawa .promo-time{
    font-size: 16px;
}
#dostawa .block .orange{
    background-color: #E87601;
}
#dostawa .price{
    border-radius: 0 5px 5px 5px;
    width: 145px;
    text-align: center;
    color: #FFF;
    line-height: 40px;
    margin: 5px;
    float: left;
}
#dostawa .promo{
    background-color: #E87601;
    font-size: 24px;
    margin-left: calc(50% - 150px);
}
#dostawa .regular{
    background-color: #BBB;
    font-size: 18px;
    text-decoration: line-through;
}
#dostawa .dostawa-content{
    max-width: 748px;
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}
#dostawa .dostawa-content p{
    font-size: 14px;
    line-height: 18px;
}
#dostawa hr.orange{
    background-color: #E87601;
}
/* Podstrona regulamin */
#regulamin p, #polityka-prywatnosci p, #rodo p{
    color: #757575;
    font-size: 14px;
    line-height: 22px;
}
#polityka-prywatnosci h2{
    color: #757575;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: normal;
}
/* Podstrona montaz */
#montaz h1, #regulamin h1, #polityka-prywatnosci h1, #rodo h1, #contact h1{
    color: #757575;
    padding-bottom: 15px;
    border-bottom: 1px solid #BBB;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}
#montaz img{
    display: block;
}
#montaz .block{
    float: left;
    width: 25%;
}
#montaz h2{
    font-size: 24px;
    color: #757575;
    font-weight: 400;
}
#montaz .block h3{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: #6D6E71;
    width: 88px;
}
#montaz .block img{
    margin-bottom: 10px;
}
#montaz .col-xl-5 .block p{
    font-size: 9px;
    line-height: 13px;
}
#montaz .strefy-transportu{
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}
#montaz .col-xl-5 p{
    font-size: 17px;
    color: #6D6E71;
    line-height: 24px;
}
#montaz .col-xl-5 img{
    display: inline-block;
    margin-right: 10px;
}
#montaz .col-xl-5 a{
    display: block;
    font-size: 20px;
    color: #6D6E71;
}
#montaz .button{
    background-color: #E87601;
    border-radius: 0 5px 5px 5px;
    max-width: 300px;
    color: #FFF;
    display: block;
    position: relative;
    margin: 10px auto 20px auto;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    transition: 200ms;
}
#montaz .button:hover {
    background-color: #A2A0A0;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* podstrona produkt */
#product #content{
    max-width: 575px;
}
.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover{
    border: 0;
}
.product-images > li.thumb-container > .thumb{
    box-shadow: none;
}
#product h1{
    color: #757575;
    font-size: 32px;
}
#product .product-images img{
    width: 133px;
}
#product .product-cover img{
    box-shadow: none;
}
#product .btn-primary{
    border-radius: 0 5px 5px 5px;
    background-color: #51B958;
    width: 100%;
    box-shadow: none;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
}
#product .btn-primary i{
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
#product .current-price {
    font-size: 32px;
    color: #E87601;
}
#product .product-add-to-cart p{
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-bottom: 10px;
}
#product .tax-shipping-delivery-label{
    color: #E87601;
    font-size: 32px;
    text-transform: lowercase;
}
#product .regular-price{
    font-size: 18px;
    font-weight: 300;
    color: #E87703;
}
.product-prices div{
    margin-bottom: 0;
}
#product .discount{
    background-color: #51B958;
    border-radius: 0 5px 5px 5px;
    font-size: 16px;
}
#product .product-description p,#product .product-description ul, #product .product-description ul li, .product-information {
    color: #757575;
    font-size: 16px;
    line-height: 22px;
}
#product .product-description{
    border-bottom: 1px solid #E87601;
    padding-bottom: 15px;
}
#product .product-quantities, #product .label{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #757575;
}
#product .label{
    text-transform: lowercase;
}
#product .product-quantities{
    padding-top: 8px;
}
#product .product-quantity{
    display: block;
    position: relative;
}
#product .product-quantity .qty, #product .product-quantity .add{
    width: 100%;
    margin-right: 0;
    float: none;
}
#product .add-to-cart{
    border-radius: 0 5px 5px 5px;
    background-color: #E87703;
    transition: 200ms;
    width: 100%;
    font-size: 16px;
    box-shadow: none;
    font-weight: 400;
}
#product .add-to-cart:hover{
    background-color: #757575;
}
#product .shopping-cart {
    float: right;
    margin: 0;
}
#product .box {
    border: 1px solid #757575;
    border-radius: 0 0 5px 5px;
}
#product .box .text{
    border-top: 1px solid #757575;
}
#product .subbox{
    border-top: 1px solid #757575;
}
#product .subbox p{
    color: #E87601;
    text-align: center;
}
#product .box .collapse p{
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
    margin: 0;
}
#product .box button{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    color: #7E7E7E;
    cursor: pointer;
    height: 46px;
    width: 100%;
}
#product .box button i{
    color: #E87601;
    float: right;
}

.product-actions .add-to-cart{
    height: 46px;
}
.product-actions .add-to-cart i{
    width: 22px;
    height: 24px;
    font-family: Roboto;
}
/* formularz logowania */
#submit-login, .no-account .btn-primary, #checkout-login-form .btn-primary{
    background-color: #51B958;
    border-radius: 0 5px 5px 5px;
    width: 100%;
    max-width: 300px;
    text-transform: lowercase;
    font-size: 14px;
    transition: 300ms;
}
.no-account .btn-primary{
    background-color: #E87601;
}
#submit-login:hover, #checkout-login-form .btn-primary:hover{
    background-color: #5cd664;
}
.no-account .btn-primary:hover{
    background-color: #f98c1c;
}
.page-authentication #content{
    max-width: 100%;
    padding: 0;
}
.page-authentication #content h2, #checkout-login-form h2, #checkout-guest-form h2{
    color: #E87601;
    font-weight: 400;
    font-size: 18px;
}
.page-authentication #content p, #checkout-login-form p{
    font-size: 14px;
}
.page-customer-account #content .forgot-password, #checkout-login-form .forgot-password{
    text-align: left;
    margin-top: 10px;
    padding-bottom: 10px;
    line-height: 17px;
    margin-left: 0 !important;
}
.page-customer-account #content .forgot-password a, #checkout-login-form .forgot-password a{
    color: #E87601;
    font-size: 14px;
    text-transform: lowercase;
}
.login-form{
    margin-top: 0;
}
.login-header{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #757575;
}
.page-addresses .address, .page-authentication #content{
    box-shadow: none;
    border: 0;
}
.page-authentication #content [type="password"],
.page-authentication #content .form-control[type="email"],
#password .form-control[type="email"],
#customer-form .form-control[type="text"],
#customer-form .form-control[type="password"],
#customer-form .form-control[type="email"],
#identity .js-customer-form .form-control[type="email"],
#identity .js-customer-form .form-control[type="password"],
#address form input[type="text"],
#address-form input[type='text'],
#address-form input[type='email'],
#address-form input[type='password'],
#checkout-login-form form input[type="email"],
#checkout-login-form form input[type="password"],
#delivery-address input[type="text"],
#delivery-address input[type="email"],
#delivery-address input[type="password"]
{
    background-color: #FFF;
    border-bottom: 1px solid #D1D3D4;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 36px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: left center;
}
.page-authentication #content [type="password"],
#identity .js-customer-form .form-control[type="password"],
#checkout-login-form form input[type="password"],
#checkout-guest-form input[type="password"],
#address-form form input[type="password"]{
    background-image: url("../img/kontakt/klodka.svg");
    background-size: 12px auto;
}
.page-authentication #content .form-control[type="email"],
#password .form-control[type="email"],
#identity .js-customer-form .form-control[type="email"],
#checkout-login-form form input[type="email"],
#checkout-guest-form input[type="email"],
#address-form form input[type="email"]{
    background-image: url("../img/kontakt/mail.svg");
    background-size: 16px auto;
}
.page-authentication #content .form-control[type="email"]:focus,
#password .form-control[type="email"]:focus,
.page-authentication #content [type="password"]:focus,
#customer-form .form-control[type="text"]:focus,
#identity .js-customer-form .form-control[type="email"]:focus,
#identity .js-customer-form .form-control[type="password"]:focus,
#address form input[type="text"]:focus,
#checkout-guest-form input[type="email"]:focus,
#checkout-guest-form input[type="password"]:focus,
#address-form form input[type="text"]:focus,
#address-form form input[type="email"]:focus,
#address-form form input[type="password"]:focus{
    border-bottom: 1px solid #E87601;
}
/* zakładka kontakt */
#contact h2{
    font-size: 18px;
    line-height: 22px;
    color: #E87601;
    margin-bottom: 13px;
    font-weight: normal;
}
.contact-form{
    padding: 0;
}
#contact p{
    font-weight: 300;
}
#contact .right-side p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
    font-family: 'Roboto-light';
}
#contact .btn-send{
    background-color: #51B958;
    border-radius: 0 5px 5px 5px;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
    text-transform: lowercase;
}
#contact .right-side a{
    color: #6D6E71;
    transition: 300ms;
    font-family: 'Roboto-light';
}
#contact .star{
    font-family: 'Roboto-light';
    margin-bottom: 32px;
}
#contact .right-side a:hover{
    color: #E87601;
}
#contact form .form-group{
    margin-bottom: 33px;
}
#contact .form-control[type="text"], #contact .form-control[type="email"]{
    background-color: #FFF;
    border-bottom: 1px solid #D1D3D4;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 36px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: left center;
    transition: 400ms;
}
#contact .form-control[type="text"]:focus, #contact .form-control[type="email"]:focus{
    border-color: #E87601;
}
#contact .form-control::placeholder{
    color:#D1D3D4;
}
#contact .form-control{
    color:#6D6E71;
}
.required::-webkit-input-placeholder:after {
    content: " *";
}

.required:-moz-placeholder:after {
    content: " *";
}
.required:-ms-input-placeholder:after {
    content: " *";
}
.required::placeholder:after{
    content: " *";
}
.form-control:focus{
    outline: 0 none !important;
}
.input-group.focus{
    outline: 0 !important;
}
#contact .form-control[name="subject"]{
    background-image: url("../img/kontakt/temat.svg");
    background-size: 16px 9px;
}
#contact .form-control[name="order"]{
    background-image: url("../img/kontakt/kolko.svg");
    background-size: 16px 16px;
}
#contact .form-control[name="name_surname"]{
    background-image: url("../img/kontakt/avatar.svg");
    background-size: 14px auto;
}
#contact .form-control[name="from"]{
    background-image: url("../img/kontakt/mail.svg");
    background-size: 16px auto;
}
#contact .form-control[name="phone"]{
    background-image: url("../img/kontakt/telefon.svg");
    background-size: 15px auto;
}
#contact .bootstrap-filestyle .form-control{
    border: 2px solid #D1D3D4;
    border-left: none;
    width: calc(100% - 117px);
    float: right;
    height: 50px;
}
#contact .group-span-filestyle{
    float:left;
}
#contact .group-span-filestyle label{
    border-radius: 0 0 0 5px;
}
.bootstrap-touchspin .group-span-filestyle .btn-touchspin, .group-span-filestyle .bootstrap-touchspin .btn-touchspin, .group-span-filestyle .btn-default{
    background-color: #E87601;
    width: 117px;
    height: 50px;
    border-radius: 0 0 0 5px;
    font-size: 14px;
}
.buttonText{
    line-height: 30px;
    text-transform: lowercase;
    font-size: 14px;
}
#contact textarea, #contact textarea:active{
    background-color: #FFF;
    border: 2px solid #D1D3D4;
    font-size: 14px;
    line-height: 24px;
    color: #D1D3D4;
}
#contact textarea:focus{
    border-color: #E87601;
}
/* podstrrona koszyka*/
#cart{}
#cart h1{
    text-align: center;
    color: #757575;
    font-size: 24px;
}
#cart .product-line-info{
    margin-top: 10px;
}
#cart .cart-detailed-actions {
    padding: 0 !important;
}
#cart .card-block{
    color: #757575;
    font-size: 16px;
}
#cart .checkout .btn-primary{
    width: 100%;
    padding: 13px auto;
    background-color: #51B958;
    border-radius: 0 5px 5px 5px;
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
}
#cart .cart-total .value{
    color: #51B958 !important;
    font-size: 24px;
    float: none;
}
#cart .cart-total .label{
    font-size: 24px;
}
#cart .cart-total{
    text-align: center;
    margin-top: 10px;
 }
#cart .card-block .value{
    color: #E87601;
}
#cart .cart-detailed-totals hr{
    width:calc(100% - 20px);
    margin-left: 10px;
    color: #BBB;
    background-color: #BBB;
}
#cart .cart-grid-body .card-block{
    padding: 5px 10px 0 10px;
}
#cart .card{
    box-shadow: none;
    border: none;
}
#cart .cart-overview, #cart .cart-summary{
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
}
#cart .cart-background{
    border-radius: 0 5px 5px 5px;
    background-color: #ECEFF1;
    padding: 10px;;
}
#cart .cart-background-white{
    background-color: #FFF;
    border-radius: 0 5px 5px 5px;
}
#cart .product-line-info a{
    text-align: center;
    color: #757575;
    font-size: 22px;
    display: block;
}
#cart .has-discount.product-price,
#cart .product-line-info.product-price,
.has-discount p{
    font-size: 18px;
    color: #757575;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}
#cart .product-action-line{
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    padding: 15px 0;
    overflow: hidden;
}
#cart .product-action-line .discount{
    color: #7E7E7E;
    font-size: 24px;
    line-height: 38px;
}
#cart .go_to_product i{
    width: 35px;
    height: 24px;
    margin-top: 7px;
    background-image: url("../img/pokaz.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
#cart .go_to_product i:hover{
    background-image: url("../img/pokaz-aktywny.svg");
}
#cart .go_to_product a{
    display: block;
    position: relative;
}
#cart .current-price{
    display: inline-block;
}
#cart .product-discount{
    display: inline-block;
}
#cart .product-price{
    font-size: 24px;
    color: #757575;
    width: 100%;
    border-top: 1px solid #BBBBBB;
    padding-top: 5px;
    margin-top: 5px;
}
#cart .product-price span{
    float: right;
    font-weight: 400;
    font-size: 18px;
}
#cart .product-price .price span{
    float: none;
}
#cart .product-action-line .col-md-4{
    text-align: center;
}
#cart .cart-summary-line {
    margin-bottom: 10px;
}
#cart .remove-from-cart{
    display: block;
    position: relative;
}
#cart .remove-from-cart i{
    height: 38px;
    width: 34px;
    background-image: url("../img/garbage-grey.svg");
    background-repeat: no-repeat;
}
#cart .remove-from-cart i:hover {
    background-image: url("../img/garbage-aktywny.svg");
}
.product-quantity #quantity_wanted, #cart .js-cart-line-product-quantity{
    width: calc(100% - 92px);
    text-align: center;
    font-size: 24px;
    color: #E87601;
}
#cart .bootstrap-touchspin{
    margin-top: 10px;
}
#cart .featured-products .products{
    margin-left: -10px;
    margin-right: -10px;
}
#promo-code .btn-primary{
    border: 1px solid #BBB;
    border-radius: 0 5px 5px 0;
    width: 46px;
    height: 46px;
    box-shadow: none;
    background-color: #FFF;
    color: #51B958;
    padding: 0;
    margin-top: 0;
    float: right;
}
#promo-code .btn-primary i{
    margin-right: 0;
}
#promo-code{
    display: block;
    position: relative;
}
#promo-code .promo-input{
    width: calc(100% - 46px);
    padding: 0;
    font-size: 18px;
    color: #BBBBBB;
    height: 46px;
    border: 1px solid #BBB;
    border-radius: 0 0 0 5px;
    border-right: 0;
}
.block-promo .promo-code{
    background-color: white;
    padding: 0;
}
.bootstrap-touchspin{
    width: 100%;
    box-shadow: none;
    display: block;
    position: relative;
    border: 1px solid #BBBBBB;
    height: 46px;
}
.bootstrap-touchspin .input-group-btn-vertical{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.bootstrap-touchspin input.form-control, .bootstrap-touchspin input.input-group{
    position: absolute;
    left: 46px;
    width: calc(100% - 92px);
    height: 44px;
    padding: 0;
    line-height: 44px;
    text-align: center;
    color: #E87601;
    border: 0;
}
.bootstrap-touchspin .bootstrap-touchspin-up{
    right: -1px;
    position: absolute !important;
}
.bootstrap-touchspin .bootstrap-touchspin-down{
    left: 0;
    position: absolute !important;
}
.bootstrap-touchspin .input-group-btn-vertical > .btn{
    width: 46px;
    height: 46px;
    margin-top: -1px;
}
.bootstrap-touchspin .input-group-btn-vertical > .btn:hover{
    background-color: white;
}
.product-quantity .input-group-btn-vertical .btn i, #cart .btn-touchspin i{
    color: #E87601;
    font-size: 24px;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px
}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-up::after{
    content: "\e145";
}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-down::after{
    content: "\e15b";
}
/* Strona 404 */
#pagenotfound .page-not-found{
    max-width: 300px;
    box-shadow: none;
    box-sizing: content-box;
}
.page-not-found img{
    width: 100%;
    height: auto;
    display: block;
}
#content.page-not-found h1{
    font-size: 178px;
}
#content.page-not-found p, .page-not-found a{
    text-align: center;
    color: #757575;
    font-size: 18px;
    display: block;
}
.swipe {
    width: 24px;
    height: 26px;
}

#mobile_top_menu_wrapper{
    position: absolute;
    right: 10px;
    background-color: #FCFCFC;
    z-index: 9999;
    box-shadow: 0 2px rgba(0,0,0,0.16);
    margin: 0;
    padding: 9px 0;
    transition: 300ms;
}
#mobile_top_menu_wrapper .top-menu a[data-depth="0"]{
    text-align: right;
    color: #757575;
    border-bottom: 0;
    padding: 9px 23px;
}
#mobile_top_menu_wrapper .top-menu a[data-depth="0"]:hover{
    padding-right: 21px;
    border-right: 2px solid #757575;
}
#header .top-menu a[data-depth="0"]:hover{
    color: #E87601;
}
#header .header-nav #menu-icon{
    width: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#header .header-nav #menu-icon div{
    width: 100%;
    height: 3px;
    background-color: #E87601;
    transition: 300ms;
}
#header .header-nav #menu-icon:hover div{
    background-color: #757575;
}
#header .header-nav #menu-icon div:nth-child(2){
    margin-top: 7px;
    margin-bottom: 7px;
}
#product-menu{
    position: absolute;
    top: 188px;
    left: 10px;
    z-index: 9999;
    background-color: #FCFCFC;
    box-shadow: 0 2px rgba(0,0,0,0.16);
    padding: 9px 0;
    display: none;
}
#product-menu .category-sub-menu{
    margin: 0;
}
#product-menu .category-sub-menu li{
    padding: 9px 20px;
}
#product-menu .category-sub-menu li a{
    font-size: 18px;
    color: #E87601;
}
#product-menu .category-sub-menu li:hover{
    padding-left: 18px;
    border-left: 2px solid #E87601;
}
#product-mobile{
    margin-left: -15px;
    height: 47px;
    padding-left: 10px;
    color: #E87601;
    line-height: 47px;
    border-right: 1px solid #BBBBBB;
    font-size: 18px;
    width: 121px;
    cursor: pointer;
}
#product-mobile i{
    line-height: 1 !important;
}
#product-mobile:hover{
    color: #757575;
}
.show{
    display: block !important;
}
.page-customer-account #content{
    box-shadow: none;
    border: 0;
}
.send-renew-password-link{
    padding-left: 0;
    padding-right: 0;
}
#password .col-md-6{
    max-width: 330px;
}
#password .btn-primary,#password .btn-primary,#password .btn-primary{
    border-radius: 0 5px 5px 5px;
    background-color: #51B958;
    width: 100%;
}
#password .forget-password h2{
    color: #E87601;
    font-weight: 400;
    line-height: 24px;
    height: 18px;
}
#password .maskotka{
    width: 171px;
    height: auto;
    display: block;
    margin-left: 45px;
}
#password .forget-password{
    width: 100%;
    max-width: 660px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#password .form-control[type="email"]{
    padding-bottom: 19px;
    background-position: left 11px;
    margin-top: 15px;
    transition: 300ms;
}
#password .form-control[type="email"]:focus{
    border-bottom: 1px solid #E87601;
}
.page-customer-account #content .no-account{
    text-align: left;
}
#content .register-form,
#identity .js-customer-form,
#address form,
#address-form,
#checkout-login-form,
#checkout-guest-form,
.delivery-options-list,
#checkout-payment-step{
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
body#checkout #checkout-payment-step{
    padding: 0;
}
body#checkout #checkout-payment-step label{
    text-align: left;
    font-size: 16px;
    color: #757575;
}
body#checkout .additional-information{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#authentication .custom-checkbox label,
#identity .custom-checkbox label,
#checkout-guest-form .custom-checkbox label,
#checkout-addresses-step .custom-checkbox label,
#checkout-payment-step .custom-checkbox label{
    margin: 0;
    padding: 0 0 0 56px;
    text-align: left;
    text-transform: lowercase;
}
#customer-form .form-control[type="text"],
#address-form .form-control[name="firstname"],
#address-form .form-control[name="lastname"]{
    background-image: url("../img/kontakt/avatar.svg");
    background-size: 16px auto;
}
#address-form .form-control[name="city"],
#address-form .form-control[name="company"],
#address-form .form-control[name="vat_number"],
#address-form .form-control[name="postcode"],
#address-form .form-control[name="address1"],
#address-form .form-control[name="address2"],
#address-form .form-control[name="city"]{
    background-image: url("../img/kontakt/kolko.svg");
    background-size: 16px auto;
}
#address-form .form-control[name="phone"]{
    background-image: url("../img/orange_telefon.svg");
    background-size: 16px auto;

}
#address-form .form-group{
    margin-bottom: 0;
}
#address-form .form-group  input{
    margin-bottom: 15px;
}
.custom-radio input[type="radio"]:checked + span{
    left: 18px;
    top: 9px;
    width: 11px;
    height: 22px;
    border: solid #E87601;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0;
    background-color: #FFF;
}
.register-form .custom-checkbox input[type="checkbox"] + span,
#identity .custom-checkbox input[type="checkbox"] + span,
#checkout-guest-form .custom-checkbox input[type="checkbox"] + span,
#checkout-addresses-step .custom-checkbox input[type="checkbox"] + span,
#checkout-payment-step .custom-checkbox input[type="checkbox"] + span{
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 46px;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #BBBBBB !important;
    background-color: #FFF;
}
#identity .custom-checkbox,
#checkout-guest-form .custom-checkbox,
#checkout-addresses-step .custom-checkbox,
#checkout-payment-step .custom-checkbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#customer-form .custom-checkbox input,
#identity .custom-checkbox input,
#checkout-guest-form .custom-checkbox input,
#checkout-addresses-step .custom-checkbox input,
#checkout-payment-step .custom-checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#customer-form .read_rodo{
    color: #E87601;
    font-size: 12px;
    line-height: 14px;
    text-decoration: underline;
}
#customer-form .btn-primary,
#address-form .btn-primary,
.delivery-options-list .btn-primary,
#checkout-payment-step .btn-primary{
    border-radius: 0 5px 5px 5px;
    background-color: #51B958;
    width: 100%;
    padding: 13px 0;
    margin-top: 10px;
    font-size: 16px;
    color: #FFF;
    position: relative;
    transition: 300ms;
}
#customer-form .btn-primary:hover,
#address-form .btn-primary:hover,
.delivery-options-list .btn-primary:hover,
#checkout-payment-step .btn-primary:hover{
    background-color: #5cd664;
}
.delivery-options-list label{
    text-align: left;
    width: calc(100% - 46px);
}
#delivery label{
    width: 100%;
    font-size: 16px;
    color: #757575;
}
#delivery_message{
    resize: none;
    border-radius: 0 5px 5px 5px;
    border: 2px solid #D1D3D4;
    padding: 10px;
    font-size: 16px;
    color: #757575;
}
#delivery_message:focus{
    border-color: #E87601;
}
.delivery-options-list .custom-radio,
.payment-options .custom-radio,
.address-selector .custom-radio{
    border-radius: 0 5px 5px 5px;
    border: 1px solid #BBBBBB;
    width: 46px;
    height: 46px;
}
body#checkout section.checkout-step .custom-radio input[type="radio"],
body#checkout section.payment-options .custom-radio input[type="radio"],
body#checkout section.address-selector .custom-radio input[type="radio"]
{
    width: 100%;
    height: 100%;
}
body#checkout section.checkout-step .delivery-option{
    background-color: #FFF;
    padding: 0;
    margin: 5px 0;
}
.delivery-option img{
    width: 41px;
    height: auto;
    margin: 9px 10px;
    float: left;
}
body#checkout section.checkout-step .carrier-delay, body#checkout section.checkout-step .carrier-name{
    display: block;
}
.delivery-option-2 span{
    color: #757575;
    font-size: 16px;
    line-height: 22px;
}
#customer-form .btn-primary i{
    position: absolute;
    right: 0;
    top: 11px;
}
#customer-form label, #customer-form a{
    font-size: 12px;
    line-height: 14px;
}
#customer-form label{
    color: #757575;
    min-height: 46px;
}
#customer-form a{
    color: #E87601;
    text-decoration: underline;
}
#customer-form .checkmark{
    margin-bottom: 10px;
}
.page-my-account #content .links{
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}
.page-my-account #content .links a span.link-item{
    border: 1px solid #BBBBBB;
    border-radius: 0 5px 5px 5px;
    box-shadow: none;
    font-size: 20px;
    color: #E87601;
    text-align: left;
    font-weight: 400;
    text-transform: none;
    height: 68px;
    padding: 10px 5px;
    line-height: 48px;
    max-width: 300px;
}
#history-link img{
    width: 43px;
    height: auto;
}
#identity-link img{
    width: 41px;
    height: auto;
}
#discounts-link img{
    width: 41px;
    height: auto;
}
#addresses-link img{
    width: 40px;
    height: auto;
}
.page-my-account #content .links .img-content{
    border-right: 1px solid #D1D3D4;
    display: block;
    float: left;
    width: 57px;
    margin-right: 18px;
    text-align: center;
}
#my-account .page-content, #my-account .page-footer{
    margin-bottom: 0;
}
#history .order{
    margin: 10px 20px;
    background-color: #FFF;
    width: calc(100% - 40px);
}
#history .order-row{
    /*height: 45px;*/
    border-bottom: 1px solid #D1D3D4;
}
#history .last-row{
    border-bottom: none;
}
#history .order-row p{
    line-height: 18px;
    font-size: 16px;
    color: #7E7E7E;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}
#history .order-header{
    color: #E87601;
    font-size: 20px;
    text-transform: uppercase;
}
#history .order button{
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #BBBBBB;
    border-radius: 0 5px 5px 5px;
    padding: 10px 0;
    margin-right: -20px;
    margin-left: -20px;
    width: calc(100% + 40px);
    line-height: 28px;
}
#history .order-detail{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}
body#checkout section.checkout-step .content{
    padding: 10px 0;
}
#history .order button i{
    float: right;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
#history .button-reorder{
    background-color: #51B958;
    border-radius: 0 5px 5px 5px;
    width: 100%;
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    display: block;
    text-align: center;
    padding: 7px 0;
    margin-top: 42px;
    transition: 400ms;
}
#history .button-reorder:hover{
    background-color: #5cd664;
}
#history .paymentcarrier{
    border: 1px solid #BBBBBB;
    border-radius: 0 5px 5px 5px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
#history .paymentcarrier p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}
#order-history{
    margin-top: 10px;
}
.order-detail h3{
    text-align: center;
    color: #757575;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}
#order-history .box-row{
    margin: 10px 0;
}
#order-history .box-row .bell{
    width: 46px;
    height: auto;
    border-right: 1px solid #BBBBBB;
    padding-right: 10px;
    float: left;
}
#order-history .box-data{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
    width: calc(100% - 56px);
}
#order-history .box-date{
    color: #E87601;
    border-bottom: 1px solid #BBBBBB;
    margin: 0;
    padding: 0;
}
#order-history .box-info{
    font-family: Roboto-light;
    color: #757575;
    margin: 0;
    padding: 0;
}
#history .order-details, #history .addresses .box{
    border: 1px solid #BBBBBB;
    padding: 10px 10px 15px 10px;
    border-radius: 0 5px 5px 5px;
    margin-bottom: 10px;
}
#history .order-details p{
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#history .addresses h4{
    font-size: 16px;
    font-weight: normal;
    color: #E87601;
}
#history .order-total-background{
    background-color: #ECEFF1;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
}
#history .order-total-content{
    background-color: #FFF;
    border-radius: 0 5px 5px 5px;
    padding: 5px 10px;
}
#history .order-total-content p{
    margin: 0;
    padding: 0;
}
#history .cart-total p{
    font-size: 24px;
    text-transform: lowercase;
    line-height: 32px;
}
.order-total-content .grey{
    margin-top: 7px;
    margin-bottom: 2px;
}
#your-shopping .product-name{
    line-height: 24px;
    font-size: 22px;
    color: #757575;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
#your-shopping .product-line{
    font-family: Roboto-light;
    font-size: 22px;
    line-height: 35px;
    border-bottom: 1px solid #BBBBBB;
    margin: 0;
    padding: 0;
}
#your-shopping .product-total{
    color: #E87601;
    font-size: 22px;
    line-height: 35px;
}
#your-shopping .product-image{
    width: 100%;
    height: auto;
}
.mobile-contact{
    background-color: #FCFCFC;
    width: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    height: 0;
    top: 55px;
    /*transition: all 400ms linear;*/
}
#hide-arrow{
    text-align: center;
}
#hide-arrow .material-icons{
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #757575;
    cursor: pointer;
}
#header .mobile-contact a, #header .mobile-contact p{
    font-size: 16px;
    color: #757575;
}
.mobile-contact a:hover{
    color: #E87601 !important;
}
#mobile-phone, #mobile-email{
    text-align: center;
}
#mobile-phone img, #mobile-email img{
    margin-right: 7px;
}
body#checkout section.checkout-step .address-item.selected{
    border-color: #E87601;
}
body#checkout .h4{
    font-weight: 400;
    font-size: 24px;
    color: #757575;
    text-align: center;
}
#addresses-list,
#delivery-addresses{
    max-width: 610px;
    width: 100%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#addresses-list p,
#delivery-addresses p{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E7E;
    margin: 0;
    padding: 0;
}
#addresses-list .address,
#delivery-addresses .address-item{
    border-top: 1px solid #E87601;
    padding-top: 15px;
    margin-top: 20px;
}
#addresses-list .address h4,
#delivery-addresses .address-item h4,
body#checkout section.checkout-step .address-alias{
    color: #E87601;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
body#checkout section.checkout-step .address-alias,
body#checkout section.checkout-step .address{
    width: calc(100% - 56px);
    margin-left: 56px;
}
body#checkout section.checkout-step .address{
    margin-left: 56px;
}
#addresses-list .address address,
body#checkout section.checkout-step .address{
    color: #757575;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    text-align: center;
}
body#checkout section.checkout-step .address{
    margin: 0 0 0 56px;
}
#addresses-list .address address{
    margin: 0;
}
body#checkout section.checkout-step .radio-block{
    width: 100%;
    padding: 0 10px;
}
body#checkout section.checkout-step .address-item .custom-radio{
    position: absolute;
}
#addresses-list .add-address,
#address .btn-primary,
body#checkout section.checkout-step #delivery-addresses .btn-primary,
body#checkout section.checkout-step #invoice-addresses,
body#checkout section.checkout-step .add-address,
body#checkout section.checkout-step .btn-primary{
    background-color: #51B958;
    border-radius: 0 5px 5px 5px;
    color: #FFF;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: 400ms;
}
body#checkout section.checkout-step .add-address a{
    color: #FFF;
    text-align: center;
    padding: 8px 16px;
    display: block;
}
#addresses-list .add-address:hover,
#address .btn-primary:hover,
body#checkout section.checkout-step .add-address:hover,
body#checkout section.checkout-step .btn-primary:hover
{
    background-color: #5cd664;
}
.page-addresses .address .address-footer,
body#checkout section.checkout-step .address-footer{
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.page-addresses .address .address-footer a,
body#checkout section.checkout-step .address-footer a{
    display: block;
    text-align: center;
}
.page-addresses .address .address-footer .update,
body#checkout section.checkout-step .address-footer .update{
    border-right: 1px solid #BBBBBB;
}
.page-addresses .address .address-footer .update,
.page-addresses .address .address-footer .delete,
body#checkout section.checkout-step .address-footer .update,
body#checkout section.checkout-step .address-footer .delete{
    float: left;
    width: 50%;
}
.page-addresses .address .address-body address{
    min-height: 125px;
}
.page-addresses .address .address-footer a i,
body#checkout section.checkout-step .address-footer a i{
    font-size: 30px !important;
    color: #BBB;
    transition: 300ms;
}
.page-addresses .address .address-footer a i:hover,
body#checkout section.checkout-step .address-footer a i:hover{
    color: #E87601;
}
.page-addresses .address .address-body{
    padding: 0;
}
#discount-codes{
    width: 100%;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
#discount-codes .discount-code{
    text-align: center;
}
#discount-codes .discount-code p{
    margin: 0;
    padding: 0;
}
#discount-codes .discount-code .discount-header{
    width: 100%;
    background-color: #E87601;
    border-radius: 0 5px 0 0;
    padding-top: 13px;
    padding-bottom: 13px;
}
#discount-codes .discount-code .discount-header p{
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
}
#discount-codes .discount-code .discount-row{
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}
#discount-codes .discount-code .discount-row{
    font-size: 13px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#checkout a{
    color: #E87601;
    transition: 300ms;
}
#checkout a:hover{
    color: #757575;
}
#search h2{
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #757575;
}
#search h3{
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    color: #757575;
    text-transform: lowercase;
    margin-top: 4px;
    margin-bottom: 20px;
}
#search .search-block{
    margin: 4px auto;
    width: 100%;
    max-width: 620px;
    display: block;
    position: relative;
}
#search .search-widget{
    min-width: 620px;
}
#products .page-not-found{
    box-shadow: none;
    max-width: 100%;
}
#products .page-not-found p{
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
#products .page-not-found .maskotka{
    width: 172px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#order-confirmation{
    color: #757575;
}
#order-confirmation .card{
    box-shadow: none;
    border: 0;
}
#order-confirmation a,
#order-confirmation .h3Dols
{
    color: #E87601;
}
.product-accessories{
    margin-top: 20px;
}

.product-accessories h3{
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    padding: 5px 0;
    text-align: center;
    color: #E87601;
    font-weight: 300;
    font-family: Roboto;
    margin-bottom: 30px;
}
.float-nav{
    background-color: white;
    z-index: 9999;
    width: 100%;
}
#product .product-accessories .product-description{
    border-bottom: none;
    padding: 0;
}
.product-accessories .bx-wrapper{
    box-shadow: none;
    border: 0;
    margin-bottom: 0;
}
.product-accessories .product-miniature{
    margin: 0;
    padding: 0;
}
#products .product-accessories .thumbnail-container{
    margin-bottom: 0;
}
/* plywajacy pasek na dole strony */
#autoryzowany-montaz{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ebeff2;
    z-index: 9999;
    border-top: 1px solid #e97300;
}
#autoryzowany-montaz p{
    font-size: 21px;
    color: #717171;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}
#autoryzowany-montaz .montaz-sprawdz{
    border-radius: 5px;
    background-color: #e97300;
    width: 123px;
    height: 28px;
    margin-left: 22px;
    display: inline-block;
    transition: 500ms;
}
#autoryzowany-montaz .montaz-sprawdz a{
    font-size: 16px;
    color: white;
    text-align: center;
    text-transform: lowercase;
    line-height: 28px;
}
#autoryzowany-montaz .montaz-sprawdz:hover{
    background-color: #fd8a1b;
}

#footer{
    margin-bottom: 49px;
}

@media all and (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .block-categories{
        margin: 0;
        padding: 0;
    }
}
@media all and (max-width: 1199px){
    .fast-contact{
        display: none;
    }
    #delivery_main .text-box{
        max-width: 50%;
    }
    #subcategories ul{
        position: relative;
    }
    .block-categories{
        padding: 0 15px;
    }
    .featured-products{
        margin-left: 40px;
        margin-right: 40px;
    }
    .header-contact img{
        display: block;
        position: relative;
        float: right;
    }
    .header-contact{
        width: 100%;
    }
    .header-contact .email{
        margin-top: 5px;
    }
}
@media all and (max-width: 992px){
    #delivery_main{
        height: 442px;
    }
    .links h3{
        margin-top: 20px;
    }
    .links .row .wrapper:first-child h3{
        margin-top: 0;
    }
    #contact .right-side{
        margin-top: 30px;
    }
    #header .header-top a[data-depth="0"]{
        padding: 13px 12px;
    }
    .featured-products{
        margin-left: 65px;
        margin-right: 65px;
    }
    .mobile-search{
        display: block;
    }
    #header .header-nav .search-widget, .mobile-search .search-widget, .search-widget form input[type="text"]{
        max-width: 100%;
    }
    #content .no-account{
        margin-bottom: 20px;
    }
    #history .order-detail{
        padding-left: 0;
        padding-right: 0;
    }
    #autoryzowany-montaz .montaz-sprawdz{
        display: block;
        margin-top: 13px;
        margin-left: auto;
        margin-right: auto;
    }
    #footer{
        margin-bottom: 82px;
    }
}
@media all and (max-width: 900px){
    #delivery_main{
        background-image: none;
    }
}
@media all and (min-width: 767px) and (max-width: 992px){
    .mobile-search{
        padding-top: 15px;
    }
}
@media all and (max-width: 767px){
    #footer{
        margin-bottom: 101px;
    }
    .margin-top-20-sm{
        margin-top: 20px;
    }
    #search .search-widget{
        min-width: auto;
    }
    #your-shopping{
        margin-top: 20px;
    }
    #history .button-reorder{
        margin-top: 20px;
    }
    .page-my-account #content .links a span.link-item{
        margin-left: auto;
        margin-right: auto;
    }
    #top-menu li:first-child{
        border-right: 0;
    }
    .subcategory-content{
        border-bottom: 0;
        border-top: 0;
    }
    #retro-banners .baner{
        width: 100%;
    }
    #delivery_main .text-box{
        max-width: 100%;
    }
    .block-contact{
        margin-top: 30px;
    }
    .footer-container .links ul{
        background-color: transparent;
    }
    .footer-container .links ul > li{
        border-bottom: none;
        font-weight: normal;
    }
    .footer-container .links ul > li a{
        color: #FFF;
    }
    #montaz .col-xl-7 img{
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #montaz h2{
        font-size: 20px;
    }
    #products .thumbnail-container .product-description, .featured-products .thumbnail-container .product-description, .product-accessories .thumbnail-container .product-description{
        box-shadow: none;
    }
    #products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature{
        margin-left: auto;
        margin-right: auto;
    }
    #js-product-list-top .label{
        display: block;
    }
    #js-product-list-top .col-lg-3{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #top-menu .dropdown-toggle::after{
        content: none;
    }
    #header .header-nav #menu-icon .material-icons{
        color: #E87601;
    }
    #header .mobile-menu{
        border-top: 1px solid #BBBBBB;
        border-bottom: 1px solid #BBBBBB;
        display: block;
        overflow: hidden;
    }
    #header .header-nav .top-logo{
        width: 100%;
        height: auto;
    }
    #header .header-nav .top-logo a img{
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
    #header .header-nav .search-widget{
        margin-top: 20px;
        width: 100%;
    }
    #_desktop_cart, #_desktop_user_info{
        display: inline-block;
        max-width: 25%;
        float: left;
    }
    #header .header-contact{
        width:50%;
        display: inline-block;
        float: left;
        margin-top: 1px;
    }
    #header .header-nav .user-info{
        margin-left: 28px;
    }
    #_desktop_user_info > .user-info > a{
        margin-top: 3px;
    }
    #header .mobile-icons-block{
        width: 290px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 19px;
    }
    .header-contact > .phone{
        margin-right: 0;
    }
    #header .header-top{
        border-bottom: 0;
    }
    #header .header-nav, body#checkout #header .header-nav{
        border-bottom: 0;
    }
    .sub-menu .dropdown-item span{
        display: none;
    }
    #subcategories{
        width: auto;
        min-width: 100%;
    }
    .top-menu .sub-menu ul[data-depth="2"]{
        margin-top: 0;
    }
    #header .header-top{
        background-color: #FFF;
    }
    #retro-banners .some-another-menu ul{
        justify-content: normal;
    }
    .subcategory-content ul{
        justify-content: normal;
    }
    .block-contact{
        float: left;
    }
    .block-contact .block-contact-title{
        margin-left: 10px;
    }
    .footer-container .links .h3{
        margin-left: 10px;
    }
    .shop-address{
        margin-left: 10px;
    }
    .cookie-info{
        margin-top: 20px;
    }
    .header-contact .phone{
        margin-right: 27px;
    }
    .header-contact .email{
        margin-right: 27px;
        margin-left: 0;
    }
    #password .forget-password{
        max-width: 330px;
    }
}
@media all and (max-width: 600px){
    .cart-content-btn .btn-primary{
        margin-top: 15px;
    }
    .cart-content-btn .btn-secondary,
    .cart-content-btn .btn-primary{
        border-radius: 0 5px 5px 5px;
        width: 80% !important;
        padding: 8px 20px;
        height: 44px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
        position: relative;
    }
    .featured-products{
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
    }
}
@media all and (max-width: 500px){
    #montaz .block{
        width:50%;
    }
}
@media all and (max-width: 400px){
    #delivery_main{
        height: auto;
    }
    #delivery_main .tel{
        font-size: 24px;
    }
    #delivery_main .text-box{
        text-align: center;
        width: 100%;
        margin: 5px 0;
    }
    #delivery_main .container .text-box:first-child{
        margin-top: 10px;
    }
    #delivery_main .text-box h3{
        font-size: 24px;
    }
    #delivery_main .text-box p{
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    #montaz .col-xl-5 p{
        font-size: 14px;
    }
    #montaz h2{
        font-size: 18px;
    }
}
@media all
and (max-width: 767px)
and (orientation: landscape){
    #_mobile_logo{
        display: none;
    }
}
.product-accessories-modal .product-miniature{
    width: 33.3333%;
}
.product-accessories-modal .product-miniature .thumbnail-container,.product-accessories-modal .product-miniature .product-description{
    background-color: transparent;
}
.product-accessories-modal .product-miniature .product-thumbnail{
    overflow: hidden;
}
.product-accessories .thumbnail-container{
    margin-bottom: 0;
}
@media all
and (max-width: 967px){
    .product-accessories-modal .product-miniature{
        width: 100%;
    }
    .product-accessories .thumbnail-container{
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Pagination*/
.pagination .page-list{
    box-shadow: none;
}
.pagination .current a{
    color: #E87601;
}